<h1>Juego del Amigue Invisible</h1>
<h3>Bienvendidx</h3>


<ng-container *ngIf="contactoSeleccionado; else noSeleccionado">
    <h4>Tu Amigue invisible es: {{ contactoSeleccionado.name.first }}</h4>
</ng-container>
<ng-template #noSeleccionado>
    <div>
        <p>Selecciona a tu amigue invisible</p>
    </div>
</ng-template>

<button mat-raised-button (click)="navegarAContacts()">Ver todos tus contactos</button>

<div>
    <p>Filtra por genero:</p>
    <button mat-raised-button color="warn" [routerLink]="['/dashboard/contacts']" [queryParams]="{genero: 'female'}">Amigas</button>
    <button mat-raised-button color="primary" [routerLink]="['/dashboard/contacts']" [queryParams]="{genero: 'male'}">Amigos</button>
</div>
