<h1>Tus contactos</h1>

<div *ngIf="cargando">
    <mat-spinner></mat-spinner>
    <h6>Cargando...</h6>
</div>

<!-- Listar los contactos y poder navegar a clickear uno de ellos al detalle -->
<div *ngFor="let contacto of listaRandomContacts; let i = index">
    <div routerLink="{{ contacto.id.name }}" [state]="{data: contacto, filtro: filtroGenero}">
        <h6 class="detalle">
            {{ contacto.name.first }}
            {{ contacto.name.last }}
        </h6>
        <button mat-raised-button color="primary" (click)="volverAHome(contacto)">Seleccionar como amigue invisible</button>
    </div>
</div>
<ng-container *ngIf="filtroGenero == 'female' || filtroGenero == 'male'; else listaCompleta">
    <p>Mostrando amigues de genero "{{ filtroGenero }}"</p>
</ng-container>
<ng-template #listaCompleta>
    <p>Mostrando lista de contactos completa</p>
</ng-template>

<a routerLink="/dashboard">Volver</a>

